* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-weight: 400;
}

@font-face {
    font-family: 'rockwell';
    src: url('rockwell.ttf');
    src: url('rockwell-bold.ttf');
}

@font-face {
    font-family: 'solidaires';
    src: url('solidaires.otf');
}
